.Button {
  padding: 2rem 8.4rem;
  border: none;
  border-radius: 1.1rem;
  box-shadow: $box-shadow-button;
  font-size: 2.3rem;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    opacity: 80%;
  }

  &--green {
    background-color: $grass;
  }

  &--yellow {
    background-color: $primary-color;
  }
}
