.ErrorPage {
  background-color: $danger;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10rem);
  flex-direction: column;
  gap: 1rem;
  padding: 5rem 0;

  &__text {
    text-align: center;
    font-weight: bold;
    &--white {
      color: $white;
    }
  }
}
